body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    background-color: #000;
    color: #fff;
    height: 100vh;
    overflow: hidden;
}

.app-container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 200px;
    background-color: #000;
    padding: 16px;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.sidebar .logo img {
    width: 32px;
    margin-right: 12px;
    transform: rotate(90deg);
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 16px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 600;
}

.sidebar nav ul li a:hover {
    color: #fff;
}

.main-content {
    margin-left: 240px;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 16px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 16px;
    background-color: #121212;
    border-radius: 8px;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

.message {
    margin: 0;
}

.button-container {
    margin-left: auto;
}

.connect-wallet {
    height: 48px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    border: none;
    padding: 0 16px;
    background-color: #fff;
    cursor: pointer;
}

.connect-wallet:hover {
    background-color: #e0e0e0;
}

.content-area {
    /* flex: 1; */
    background-color: #121212;
    padding: 24px;
    border-radius: 8px;
    overflow-y: auto;
    position: sticky;
}

h2 {
    margin-bottom: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form input {
    padding: 12px;
    border: 1px solid #242424;
    border-radius: 8px;
    background-color: #242424;
    color: #fff;
    outline: none;
}

.form input:focus {
    border-color: #fff;
}

.form button {
    padding: 12px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.form button:hover {
    background-color: #e0e0e0;
}

.form button:disabled:hover {
    background-color: #fff;
    cursor: grabbing;
}

.form textarea {
    padding: 12px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 8px;
    cursor: grabbing;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #242424;
    border-radius: 8px;
    overflow: hidden;
    background-color: #121212;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

thead {
    background-color: #242424;
    border-bottom: 2px solid #fff;
}

thead tr th {
    padding: 12px;
    text-align: left;
    font-weight: bold;
    color: #fff;
    border-bottom: 1px solid #424242;
    font-size: 14px;
}

tbody tr {
    transition: background-color 0.2s;
}

tbody tr:hover {
    background-color: #1a1a1a;
}

tbody tr td {
    padding: 12px;
    color: #b3b3b3;
    font-size: 13px;
}

tbody tr td:last-child {
    border-bottom: none;
}

tbody tr.subheader td {
    font-weight: bold;
    text-align: left;
    background-color: #242424;
    color: #fff;
    font-size: 13px;
}

/* th.grade, th.attendance {
    text-align: right;
}

td.grade, td.attendance {
    text-align: right;
} */

/* p {
    font-weight: bold;
    margin-bottom: 36px;
} */

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 72vh;
}

.welcome-container h2 {
    font-size: 3rem;
    font-weight: bold;
}

.welcome-container p {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 12px;
}
